*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
buzz_score_site/dev.db

# User settings
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/misc.xml
.idea/BuzzScore.iml
